<ul class='myul' [style.padding-left.em]="data.level!==0?1:0">
  <div [style.padding-bottom.em]="data.level<4?1:0.5" [style.color]="getColor()">
    <!-- <span>{{data.w}}</span>     -->
    <span>
      <span *ngFor="let it1 of data2">

        <ng-container *ngIf="it1.des===undefined&&it1.sn===undefined; else elseTemplate">
          <span>{{it1.w}}</span>
        </ng-container>

        <ng-template #elseTemplate>

          <ng-container *ngIf="it1.des!==undefined; else elseTemplate2">
            <span [attr.des]="it1.des" (click)="onClickDes(it1)" class='ref-des'>{{it1.w}}</span>
          </ng-container>

          <ng-template #elseTemplate2>
            <span [attr.sn]="it1.sn" [attr.isOld]="it1.isOld?1:0" (click)="onClickOrig(it1)"
            class='orig-dict'>{{it1.w}}</span>
          </ng-template>

        </ng-template>
      </span>
    </span>
  </div>
  <li *ngFor="let it2 of data.children">
    <app-com-text [data]="it2" [address]="address"></app-com-text>
  </li>
</ul>
