.orig {
  color: darkturquoise;
  cursor: pointer;
}
.oneline {
  display: block;
  padding-left: 2em;
  text-indent: -2em;
}
.address {
  font-size: small;
  cursor: pointer;
  display: inline;
}
.text {
  display: inline;
}
.isTitle1 {
  /* font-size: 1.2em; */
  font-weight: 800;
  color: darkmagenta;
}

.isTitle1::after {
  /* white-space: pre; */
  /* content:"\000A"; */
}
.isParenthesesHW {
  /* font-size: 1.2em; */
  /* font-weight: 800; */
  color: mediumorchid;
}
.isParenthesesFW {
  /* font-size: 1.2em; */
  /* font-weight: 800; */
  color: darkviolet;
}
.isParenthesesFW2 {
  /* font-size: 1.2em; */
  color: magenta;
}
.isRef {
  color: blue;
  cursor: pointer;
}
.is-map {
  /* text-decoration: underline; */
}
.is-photo {
  /* text-decoration: underline; */
}
.is-map::after {
  /* 一定要有 content */
  content: "";
  /* 一定要有 inline-block, 否則height width都無效 */
  display: inline-block;
  background-image: url(/NUI/assets/site.png);
  height: 1em;
  width: 1em;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.is-photo::after {
  /* 一定要有 content */
  content: "";
  /* 一定要有 inline-block, 否則height width都無效 */
  display: inline-block;
  background-image: url(/NUI/assets/camera.png);
  height: 1em;
  width: 1em;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.no-break-line {
  display: inline;
}
.text-base {
  text-align: justify;
}
.odd {
  background-color: whitesmoke;
}
