<div class='text-base' #base>
  <div class='oneline' *ngFor="let it1 of data;let i1=index" [class.odd]="i1%2===1 && isBreakLineEachVerse"
    [class.no-break-line]="false===isBreakLineEachVerse"
    (click)="onClickVerse(it1)"
    #oneline
    [style.height.px]="getLineHeight(it1,i1)">
    <span class='address' [style.color]="settingAddressShow.getColor()" *ngIf="settingAddressShow.isAddressBefore()"
      (click)="onClickAddress(it1)">
      {{getAddressShow(it1)}}
      <!-- {{settingAddressShow.getAddressesShow(it1.addresses)}} -->
    </span>
    <span class='text'>
      <span *ngFor="let it2 of it1.children">
        <span *ngIf="isShowSn && it2.sn!==undefined" class='orig' (click)="onClickOrig(it2)" [class.isParenthesesHW]="it2.isParenthesesHW!==undefined" [class.isParenthesesFW]="it2.isParenthesesFW!==undefined">{{it2.w}}</span>
        <a *ngIf="isShowMapPhoto && it2.isMap" [href]="getMapLink(it2)" target="_blank" [class.is-map]="it2.isMap" [class.isParenthesesHW]="it2.isParenthesesHW!==undefined" [class.isParenthesesFW]="it2.isParenthesesFW!==undefined"></a>
        <a *ngIf="isShowMapPhoto && it2.isPhoto" [href]="getPhotoLink(it2)" target="_blank"
          [class.is-photo]="it2.isPhoto" [class.isParenthesesHW]="it2.isParenthesesHW!==undefined" [class.isParenthesesFW]="it2.isParenthesesFW!==undefined"></a>
        <span (click)="onClickRef(it2);" *ngIf="it2.isRef===1" class='isRef' [class.isTitle1]="it2.isTitle1===1" [class.isParenthesesHW]="it2.isParenthesesHW!==undefined" [class.isParenthesesFW]="it2.isParenthesesFW!==undefined" [class.isParenthesesFW2]="it2.isParentheses2!==undefined">{{it2.w}}</span>
        <br *ngIf="it2.isBr===1"/>
        <span *ngIf="it2.sn===undefined && !it2.isMap && !it2.isPhoto && it2.isRef!==1 && it2.isBr!==1" [class.isTitle1]="it2.isTitle1===1" [class.isParenthesesHW]="it2.isParenthesesHW!==undefined" [class.isParenthesesFW]="it2.isParenthesesFW!==undefined" [class.isParenthesesFW2]="it2.isParentheses2!==undefined">{{it2.w}}</span>
      </span>
    </span>

    <span class='address' [style.color]="settingAddressShow.getColor()" *ngIf="settingAddressShow.isAddressAfter()"
      (click)="onClickAddress(it1)">
      {{settingAddressShow.getAddressesShow(it1.addresses)}}
    </span>
  </div>
</div>
