.com-base {
  overflow-x: hidden;
  padding-right: 0.5em;
  padding-left: 0.5em;
  text-align: justify;
}
.tools {
  /* position: fixed; */
  height: 36px;
  top: 0px;
  z-index: 3;
}

.content {
  /* position: absolute; */
  top: 40px;
  margin-right: 0.5em;
}
