/* 開發 dialog, 最初是給 聖經版本 選擇使用的 */

  
  .lang-item, .book-item, .ch-sub-item
  {
    padding: 0.5rem 0.25rem;
    margin: 0.1rem 0.1rem;
    display: inline-block;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: #444;
    color: white;
    min-width: 6rem;
    text-align: center;
  }
  .book-item {
    background-color: lightgray;
    color: black;
  }
  /* 中文次選單，false時，暗紅色，表示關閉(紅燈停、綠燈行概念) */
  .ch-sub-item {
    background-color:rgb(55, 1, 1);
    color: lightgray;
  }

  /* 開啟 (紅燈停、綠燈行概念) */
  .lang-item.actived, .book-item.actived, .ch-sub-item.actived
  {
    color:red;
    background-color: lightgreen;
  }

 .selecteds{
   color: red;
 }