/* 開發 dialog, 最初是給 聖經版本 選擇使用的 */

/* 使後面的不能點擊 */
.ijn-dialog-gray
{
  position:fixed;
  top:0px;
  left:0px;
  bottom: 0px;
  right: 0px;
  margin:0;
  padding:0;
  background:black;
}
.ijn-dialog-white
{
  position:absolute;
  margin:0;
  padding:0;
  left: 0.5rem;
  top:0.5rem;
  right: 0.5rem;
  bottom: 0.5rem;
  background-color:white;
  border-radius: 0.5rem;
  border-style: double;
}
.ijn-dialog-close
{
  position: absolute;
  right: 1rem;
  top: 0rem;
  width: 1rem;
  height: 1rem;
  padding: 0px 0px;
  margin: 0px 0px;
  background-color: red;
  cursor: pointer;
  
  border-radius: 0.5rem;
}
.ijn-customer{
    position: absolute;
    top:  1rem;
    left:  1rem;
    bottom: 1rem;
    right:  1rem;
    overflow-y:scroll;
}