<p>mobile-test works!</p>
<button (click)="onClick5Freeze()">5秒凍結</button>
<div>
  {{log}}<br/>
  {{log2}}<br/>
  {{log3}}<br/>
  {{log4}}<br/>
  {{log5}}<br/>
  {{log6}}<br/>
  {{log7}}<br/>
  {{log8}}<br/>
  {{log9}}<br/>
  {{log10}}<br/>
  {{log11}}<br/>
  {{log12}}<br/>
</div>

<a routerLink="/mobile/Ro1:5-7.Mt1:4">Ro1:5-7.Mt1:4</a><br/>
<a routerLink="/mobile/Ro1:5-7.太1:4">Ro1:5-7.太1:4</a><br/>
<a routerLink="/mobile/羅1:5-7.太1:4">羅1:5-7.太1:4</a><br/>

<a [href]="getHref('Ro1:5-7.Mt1:4')">Ro1:5-7.Mt1:4</a><br/>
<a [href]="getHref('Ro1:5-7.太1:4')">Ro1:5-7.太1:4</a><br/>
<a [href]="getHref('羅1:5-7.太1:4')">羅1:5-7.太1:4</a><br/>
