.title {
  color: blue;
  font-size: smaller;
  text-align: center;
}
::ng-deep .bible-address {
  color: blue;
}
::ng-deep .bible-text {
}
::ng-deep .one-verse {
  display: block;
}

::ng-deep .separator {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
::ng-deep .separatorParent {
  display: flex;
}
