.title {
  color: blue;
  font-size: smaller;
  text-align: center;
}
::ng-deep .bible-address {
  color: blue;
}
::ng-deep .bible-text {
}
::ng-deep .one-verse {
  display: block;
  border-radius: 0.5em;
  padding: 0.2em;
}
::ng-deep .odd {
  background-color: whitesmoke;
}

::ng-deep .separator {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
::ng-deep .separatorParent {
  display: flex;
}
::ng-deep .exp {
  font-weight: bolder;
}
::ng-deep .sn-or-ref {
  cursor: pointer;
  color: blue;
}
