<mat-accordion multi="true">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      設定
    </mat-expansion-panel-header>
    This the expansion 1 content
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      聖經版本
    </mat-expansion-panel-header>

    <app-ver-select [verIdsOfInit]="verIdsOfInit" (notify)="onChangedBibleVersionIds($event)"></app-ver-select>

  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      歷史記錄
    </mat-expansion-panel-header>
    This the expansion 2 content
  </mat-expansion-panel>
</mat-accordion>
