<mat-accordion multi="true">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      設定
    </mat-expansion-panel-header>
    版本: 200911a_平板許多Bug <a href='/NUI/assets/versions_nuirwd.html' target="_blank">詳細清單</a> <br/>
    <mat-slide-toggle #ismapphoto [checked]="isMapPhotoInit" (change)="onChangedIsMapPhoto(ismapphoto.checked)">地理,相片
    </mat-slide-toggle>


  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      歷史記錄
    </mat-expansion-panel-header>
    This the expansion 2 content
  </mat-expansion-panel>
</mat-accordion>
