<mat-accordion multi="true">
  <mat-expansion-panel *ngFor="let a1 of verClass|async; let i1=index">
    <mat-expansion-panel-header [collapsedHeight]="'2em'"
                                [expandedHeight]="'2.5em'">
    {{a1.na}}
    <span class="example-fill-remaining-space"></span>
      <button (click)="this.onClickButton(1,i1);$event.stopPropagation()">全</button>
      <button (click)="this.onClickButton(0,i1);$event.stopPropagation()">消</button>
    </mat-expansion-panel-header>
    <mat-selection-list #verC [attr.id]="'opt'+i1" (selectionChange)="this.onSelectChanged()">
      <mat-list-option *ngFor="let a2 of a1.vers" [value]="a2.eng" #optVer>
        {{a2.na}}
      </mat-list-option>
    </mat-selection-list>
  </mat-expansion-panel>
</mat-accordion>
