<div>
  <div mat-dialog-title>
    <mat-toolbar color="primary">
      <button mat-button style="font-size: 1rem;" (click)="fontLarger()">A</button>
      <button mat-button style="font-size: 0.7rem;" (click)="fontSmaller()">A</button>
      <button mat-raised-button mat-button (click)="dialogRef.close()">Close</button>
    </mat-toolbar>
  </div>
  <mat-dialog-content>
    <app-dlines-rendor [datas]="datas"></app-dlines-rendor>

    <button mat-raised-button *ngFor="let it of ['創1:1','1:1','1','創1v1','1v1','v1','none']"
      [class.isActived]="isFormatActived(it)" (click)="onClickFormat(it)">
      {{it}}
    </button>

    <div>
      <button mat-raised-button *ngFor="let it of ['創','Ge','创']" [class.isActived]="isLangActived(it)"
        (click)="onClickLang(it)">
        {{it}}
      </button>
    </div>

    <div>
      <button mat-raised-button [class.isActived]="isMergeActived('合併')" (click)="onClickMerge()">合併</button>
    </div>

    <div>
      <button mat-raised-button (click)="onClickSnVisibleToggle()" [class.isActived]="isSnShowOn()">原文編號</button>
      <button mat-raised-button (click)="onClickVersionToggle()" [class.isActived]="isVersionShowOn()">版本顯示</button>
      <button mat-raised-button (click)="onClickColorKeywordToggle()"
        [class.isActived]="isEnableColorKeyword()">關鍵字上色</button>
    </div>
  </mat-dialog-content>
  <div mat-dialog-actions> </div>
</div>