<div>
  <mat-tab-group (selectedTabChange)="onSelectedTabChanged($event)" mat-align-tabs="center" [selectedIndex]="getSelectedIndexInitial()">
    <!-- <mat-tab label="字典">
    <app-cbol-dict></app-cbol-dict>
  </mat-tab> -->
    <mat-tab label="分析">
      <app-cbol-parsing [addressActived]="addressActived"></app-cbol-parsing>
    </mat-tab>
    <mat-tab label="串珠">
      <app-chain-tool [addressActived]="addressActived"></app-chain-tool>
    </mat-tab>
    <mat-tab label="註釋">
      <app-comment-tool [addressActived]="addressActived"></app-comment-tool>
    </mat-tab>

    <!-- <mat-tab label="典藏">ob典藏圖片內容</mat-tab>
    <mat-tab label="有聲">audio有聲聖經內容</mat-tab>
    <mat-tab label="講道">preach有聲講道內容</mat-tab>
    <mat-tab label="地圖">map參考地圖內容</mat-tab>
    <mat-tab label="相片">photo參考相片內容</mat-tab> -->
  </mat-tab-group>
  <br />
</div>
