<div>

  <div>
    <div class='title'>{{title}}</div><br/>
    <div *ngFor="let it1 of data">
      <span *ngFor="let it2 of it1">
        <ng-container *ngIf="it2.des===undefined; else elseTemplate">
          <span>{{it2.w}}</span>
        </ng-container>
        <ng-template #elseTemplate>
          <span [attr.des]="it2.des" class='reference' (click)="onClickRef(it2)">{{it2.w}}</span>
        </ng-template>
      </span>
    </div>
  </div>

  <mat-toolbar style="background: inherit;">
    <!-- toolbar不要遮住最下面的經文 -->
  </mat-toolbar>
  <mat-toolbar style="position: fixed;bottom:0">    
    <button mat-raised-button (click)="onClickPrev()">前1節</button>
    <button mat-raised-button (click)="onClickNext()">後1節</button>
      <!-- <button mat-raised-button color="accent" (click)="onClickPrev()">前</button> -->
      <!-- <button mat-raised-button color="accent" (click)="onClickNext()">後</button>     -->
  </mat-toolbar>

</div>
