<div>
    <div mat-dialog-title>
        <mat-toolbar style="overflow-x: auto;">
            <button mat-raised-button (click)="onClickClassify('舊約')">舊約</button>
            <button mat-raised-button (click)="onClickClassify('新約')">新約</button>
            <button mat-raised-button (click)="onClickClassify('章')">章</button>
            <button mat-raised-button (click)="onClickClassify('希伯來排序')">希伯來排序</button>

            <button mat-raised-button (click)="onClickFullName()" [class.isActive]="this.stylesSet === '馬太福音'">完整名稱</button>           
        </mat-toolbar>
    </div>
    <mat-dialog-content>
        <button *ngFor="let it1 of booksShow;let i1 = index" 
        (click)="onClickOpts(it1)" 
        mat-raised-button [style.font-size.em]="getFontSize()" style="line-height: normal;margin: 2px;" [class.isActive]="(tp!=='章' && it1.book === book) || (tp==='章'&&it1.book===chap)">
            {{it1.na}} 
        </button>
    </mat-dialog-content>
</div>