<div [style.overflow-y]="'hidden'">
  <div class='toppanel' [style.white-space]="'nowrap'" [style.direction]="isOldTestment?'rtl':'ltr'">
    
    <div>
      <div *ngFor="let it1 of lines">
        <div class='origline' style="white-space: normal;">
          <!-- 新約 -->
          <span *ngIf="isOldTestment===false">
            <span *ngFor="let it2 of it1.words">
              <span *ngIf="isShowIndex && it2.wid!==undefined" class='wid'>{{it2.wid}}</span> <!-- index(前,新約) -->
              <span [attr.sn]="it2.sn" [attr.tp]="'G'" [attr.wid]="it2.wid" [class.orig]="it2.sn==null||it2.sn!==0"
                [style.color]="it2.sn===snActived?'blue':'black'" (click)="onClickOrig($event,it2)"
                (mouseenter)="onMouseEnterSn($event,it2)"
                (mouseenter)="onMouseEnterForSnackBar($event,it2)">{{it2.w}}</span> <!-- 原文字 -->
            </span>
          </span>
          <!-- 舊約 -->
          <span *ngIf="isOldTestment">
            <span *ngFor="let it2 of it1.words">
              <span [attr.sn]="it2.sn" [attr.tp]="'H'" [attr.wid]="it2.wid" [class.orig]="it2.sn==null||it2.sn!==0"
                [style.color]="it2.sn===snActived?'blue':'black'" (click)="onClickOrig($event,it2)"
                (mouseenter)="onMouseEnterSn($event,it2)"
                (mouseenter)="onMouseEnterForSnackBar($event,it2)">{{it2.w}}</span> <!-- 原文字 -->
              <span *ngIf="isShowIndex && it2.wid!==undefined" class='wid'>{{it2.wid}}</span>
            </span>
          </span>
        </div>
        <!-- 中文 -->
        <div>
          <span *ngFor="let it2 of it1.exps">{{it2.w}}</span>
        </div>
        <!-- 這一行的字典 -->
        <div style="direction:ltr;background: lightgray;">
          <div *ngFor="let a1 of it1.origs; let i1=index" (mouseenter)="onMouseEnterSn($event,a1)">
            <hr />
            <span class='wid'> {{a1.wid}} </span>
            <span class='orig'> {{a1.word}} </span>
            <span class='item-title'> 簡義 </span>
            <span> {{a1.exp}} </span>
            <span class='item-title'> 原型 </span>
            <span class='orig'> {{a1.orig}} </span>
            <br />
            <span [style.color]="a1.sn===snActived?'blue':'darkturquoise'"> {{a1.tp}}{{a1.sn}} </span>
            <span class='item-title'> 分析 </span>
            <span> {{a1.pro}} </span>
            <span [innerHTML]="createDomFromString(a1.wform)"></span>
            <span *ngIf="a1.remark!==undefined">
              <br />
              <span class='item-title'> 備註 </span>
              <span [innerHTML]="createDomFromString(a1.remark)"></span>
            </span>
          </div>
        </div>
        <!-- next ... line -->
      </div>
    </div>
  </div>

  <!-- <div>
    和合本<br />
    <app-dlines-rendor [datas]="textsWithSnUnv" [verseRange]="verseRange" [isShowOrig]="1"></app-dlines-rendor>
    KJV<br />
    <app-dlines-rendor [datas]="textsWithSnKjv" [verseRange]="verseRange" [isShowOrig]="1"></app-dlines-rendor>
  </div> -->

  <!-- 若一個html裡沒這個 list, 會使 mat-chip 不會是藥丸型這麼漂亮 -->
  <mat-chip-list> </mat-chip-list>

  <br />
  <mat-toolbar style="background: inherit;">
    <!-- toolbar不要遮住最下面的經文 -->
  </mat-toolbar>
  <mat-toolbar style="position: fixed;bottom:0">
    <div class='topbuttons'>
      <mat-chip color="accent" selected="true" (click)="onClickPrev()" class='btnChip'>前一節</mat-chip>
      <span>{{verseAddress}}</span>
      <mat-chip color="accent" selected="true" (click)="onClickNext()" class='btnChip'>後一節</mat-chip>
      <mat-slide-toggle [checked]="isShowIndex" (change)="onChangeSlideToggleIndex($event)">索引碼</mat-slide-toggle>
    </div>
  </mat-toolbar>
</div>