<div class="example-container" #baseFrame
     (window:resize)="onResize($event)"
     (window:orientationchange)="onResize()"
     [class.example-is-mobile]="isMobile()">

  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snavLeft.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    top

    <span class="example-fill-remaining-space"></span>

    <button mat-icon-button (click)="snavRight.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="isMobile() ? 56 : 0">
    <mat-sidenav #snavLeft [mode]="isMobile() ? 'push' : 'side'" [fixedInViewport]="isMobile()" fixedTopGap="56"
      [style.min-width.px]="170" (closed)="onClosedLeftSide()">
      <app-side-nav-left [verIdsOfInit]="verIdsOfInit" (notifyChangedBibleVersionIds)="onChangedBibleVersionIds($event)"></app-side-nav-left>
    </mat-sidenav>
    <mat-sidenav #snavRight position="end" [mode]="isMobile() ? 'push' : 'side'" [fixedInViewport]="isMobile()"
                 fixedTopGap="56"
                 [style.width.px]="getSideRightWidth().width"
                 [style.min-width.px]="getSideRightWidth().minWidth"
                 [style.max-width.px]="getSideRightWidth().maxWidth">
      right
    </mat-sidenav>

    <mat-sidenav-content>
      <app-version-parellel [versions]="this.bibleVersions"></app-version-parellel>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
