<!-- <div class="example-container" #baseFrame (window:resize)="onResize($event)" (window:orientationchange)="onResize($event)"
  [class.example-is-mobile]="isMobile()"> -->
<div class="example-container" #baseFrame (window:resize)="onResize($event)" [class.example-is-mobile]="isMobile()">

  <mat-toolbar #toptoolbar color="primary" class='example-toolbar'>
    <button mat-icon-button (click)="snavLeft.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span (click)="onClickBibleSelect()">
      <button mat-icon-button>
        <mat-icon>view_comfy</mat-icon>
      </button>
      <span style="cursor: pointer;" *ngIf="!isMobile()">聖經目錄</span>
    </span>

    <input #seachinput matInput placeholder="G81 H81 #太12:31;路2;3| 摩西"
      (keyup.enter)="onSearchInputEnter(seachinput.value)" [style.width]="isMobile()?'8em':undefined">
    <button mat-icon-button (click)="onClickSearch(seachinput.value)">
      <mat-icon>search</mat-icon>
    </button>

    <span class="example-fill-remaining-space"></span>

    <button mat-icon-button (click)="snavRight.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="isMobile() ? 64 : 0">
    <mat-sidenav #snavLeft [mode]="'push'" [fixedInViewport]="isMobile()" fixedTopGap="64" [style.min-width.px]="170"
      (opened)="onOpenedLeftSide()" (closed)="onClosedLeftSide()">
      <app-side-nav-left></app-side-nav-left>
    </mat-sidenav>
    <mat-sidenav #snavRight position="end" [mode]="isMobile() ? 'push' : 'side'" [fixedInViewport]="isMobile()"
      fixedTopGap="64" [style.width.px]="getSideRightWidth().width" [style.min-width.px]="getSideRightWidth().minWidth"
      [style.max-width.px]="getSideRightWidth().maxWidth" [opened]="getIsRightSideOpened()"
      (opened)="onOpenedRightSide()" (closed)="onClosedRightSide()">
      <app-side-nav-right [addressActived]="addressActived"></app-side-nav-right>
    </mat-sidenav>

    <mat-sidenav-content>
      <app-version-interlace></app-version-interlace>
      <!-- <app-version-parellel [versions]="this.bibleVersions" (clickVerse)="onClickVerse($event)"></app-version-parellel> -->
      <mat-toolbar style="background: inherit;"><!-- toolbar不要遮住最下面的經文 --></mat-toolbar> 
      <mat-toolbar style="position: absolute;bottom:0">
        <a mat-raised-button [href]="getPrevChap()">上一章</a>
        <a mat-raised-button [href]="getNextChap()">下一章</a>
        <button mat-raised-button (click)="onClickOrigToggle()" [class.origon]="isOrigOn()" [class.origoff]="!isOrigOn()">原文編號</button>
        <button mat-raised-button (click)="onClickDisplaySetting()">顯示設定</button>
        <button mat-raised-button (click)="onClickVersions()">版本</button>
      </mat-toolbar>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>